# Python Data Structures
- Boolean
- Boolean And Logical Operators
- Lists
- Comparision operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables

Boolean values are two consatant objects False and True.
They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithemetic operator), they behave like the integers 0 and 1 respectiively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value
They are written as False and Truth, respectively

In [1]:
print(True,False)

True False

In [2]:
bool()

False

In [3]:
bool(0)

False

In [4]:
bool(1)

True

In [5]:
my_str="Mohammad1268Ubaid"

In [6]:
#my_str.shift+tab

In [7]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('d')) #test if string ends with a d
print(my_str.startswith('M')) #test if string starts with H

True
False
False
True
False
False
False
True
True

## Boolean and Logical operators

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
True or False

True

In [11]:
True or True

True

In [12]:
str_1="HelloWorld"
str_2="Mohammad Ubaid"

In [13]:
str_1.isalpha() or str_2.isdigit()

True

# List

A list is a data structure in python that is a mutable or changeable ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square bracket [].

In [14]:
type([])

list

In [15]:
lst_example=[]

In [16]:
type(lst_example)

list

In [17]:
lst=list()

In [18]:
type(lst)

list

In [19]:
lst=['Mathematics','Chemistry',100,200,300]

In [20]:
len(lst)

5

In [21]:
type(lst)

list

## Append

In [22]:
#.append is used to add elements in the list
lst.append("Mohammad")

In [23]:
lst.append(["Mohammad",400])

In [24]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 'Mohammad', ['Mohammad', 400]]

In [25]:
##Indexing in List
lst[6]

['Mohammad', 400]

In [26]:
lst[5]

'Mohammad'

In [27]:
lst[0:4]

['Mathematics', 'Chemistry', 100, 200]

## Insert

In [28]:
## insert is a specific order
print(lst[2])
lst.insert(2,"XYZ")
print(lst[2])

100
XYZ

In [29]:
lst

['Mathematics',
 'Chemistry',
 'XYZ',
 100,
 200,
 300,
 'Mohammad',
 ['Mohammad', 400]]

In [30]:
lst=[1,2,3]

In [31]:
lst.append([4,5])

In [32]:
lst

[1, 2, 3, [4, 5]]

## Extend Method

In [33]:
lst=[1,2,3,4,5]

In [34]:
lst.extend([6,7])

In [35]:
lst

[1, 2, 3, 4, 5, 6, 7]

## Various operations that we can perform on list

In [36]:
lst=[1,2,3,4,5]

In [37]:
sum(lst)

15

In [38]:
lst+lst

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [39]:
lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [40]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## pop() Method

In [41]:
lst.pop()

5

In [42]:
lst

[1, 2, 3, 4]

In [43]:
lst.pop()

4

In [44]:
lst

[1, 2, 3]

In [45]:
lst.pop(0)

1

In [46]:
lst

[2, 3]

## count() Calculates total occurance of a given element in the list

In [47]:
 lst=[1,2,1,3,2,3,2,2,2,5,3,56,7,3,5,2,3,1]
lst.count(2)

6

In [48]:
# len() calculates total length of list
len(lst)

18

In [49]:
# index() Returns the index of first occurance. Start and End index are not nescessary parameters
lst.index(5,0,10)

9

In [50]:
lst.index(1,0,5)

0

In [51]:
## min and max

In [52]:
min(lst)

1

In [53]:
max(lst)

56

# SETS

Aset is unordered collection of data type that is iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure know as a hash table.